<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVQPvf0mN1COmcbUGPxJ-ApFr9Ln7ihoU</string>
	<key>GCM_SENDER_ID</key>
	<string>653772397458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hangman</string>
	<key>PROJECT_ID</key>
	<string>hangman-fc42b</string>
	<key>STORAGE_BUCKET</key>
	<string>hangman-fc42b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653772397458:ios:ee2d72ecc7f827011f7f4b</string>
</dict>
</plist>